.block-button {
  --button-bg: var(--N600);
  --button-color: var(--background);
  background-color: var(--button-bg);
  color: var(--button-color);
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  outline: 0 none;
  border-radius: var(--border-r2);
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
  padding: var(--size-2) var(--size-4);
}
.block-button[data-icon='true'] {
  padding: var(--size-2);
}
.block-button:hover {
  background-color: color-mix(in srgb, var(--button-bg), transparent 10%);
}
.block-button[data-variant='primary'] {
  --button-bg: #006f94;
  --button-color: var(--background);
}
.block-button[data-variant='secondary'] {
  --button-bg: #607d8b;
  --button-color: var(--background);
}
.block-button[data-variant='success'] {
  --button-bg: #689f38;
  --button-color: var(--background);
}
.block-button[data-variant='danger'] {
  --button-bg: #d32f2f;
  --button-color: var(--background);
}
.block-button[data-variant='warning'] {
  --button-bg: #fbc02d;
  --button-color: var(--body);
}
.block-button[data-variant='info'] {
  --button-bg: #0288d1;
  --button-color: var(--background);
}
.block-button[data-variant='help'] {
  --button-bg: #9c27b0;
  --button-color: var(--background);
}

.dark .block-button[data-variant='primary'],
.dark .block-button[data-variant='secondary'] {
  --button-color: var(--body);
}
.dark .block-button[data-variant='primary'] {
  --button-bg: #006f94;
}
.dark .block-button[data-variant='secondary'] {
  --button-bg: #78909c;
}
.dark .block-button[data-variant='success'] {
  --button-bg: #c5e1a5;
}
.dark .block-button[data-variant='danger'] {
  --button-bg: #f48fb1;
}
.dark .block-button[data-variant='warning'] {
  --button-bg: #ffe082;
  --button-color: var(--background);
}
.dark .block-button[data-variant='info'] {
  --button-bg: #81d4fa;
}
.dark .block-button[data-variant='help'] {
  --button-bg: #ce93d8;
}
.block-button[data-style='solid'] {
  border: none;
}

.block-button[data-style='flat'] {
  background-color: transparent;
  color: var(--body);
  border: none;
}

.block-button[data-style='outlined'] {
  background-color: transparent;
  color: var(--body);
  border: 1px solid var(--button-bg);
}

.block-button[data-rounded='true'] {
  border-radius: 40px;
}
